#hero {
    padding-top: 230px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

h1 {
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -1px;
    text-align: center;
}

h1 span {
    color: var(--teal);
}

#hero .subheader {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.33;
    text-align: center;
    color: var(--text-lighter);
    width: 90%;
}

.ctas {
    display: flex;
    justify-content: center;
    gap: 20px;
}

main .cta {
    width: 280px;
}

#heroVideo {
    margin-top: 60px;
    width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 10px;
    background: var(--text-lighter);
}

#heroLogos {
    display: flex;
    gap: 20px;
}

.herologo {
    width: 220px;
    height: 100px;
    background: var(--text-lighter);
    border-radius: 8px;
}





.lsection {
    padding-top: 120px;
    padding-bottom: 120px;
}
.lsection.lcentered {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.lsection .tag {
    padding: 7px 18px;
    border-radius: 16px;
    font-size: 14px;
    font-weight: 500;
    width: fit-content;
}

.tag.red {
    background: var(--error-50);
    color: var(--error-700);
}

.tag.green {
    background: var(--success-50);
    color: var(--success-700);
}

.lsection h2 {
    font-size: 50px;
    font-weight: 700;
    line-height: 1.3;
    color: var(--tangerine);
    margin-top: 20px;
    max-width: 900px;
}

.lsectionP {
    font-size: 24px;
    line-height: 1.3;
    color: var(--text-lighter);
    margin-top: 20px;
    max-width: 900px;
}

.array {
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: space-around;
}

.arrayItem {
    width: 30%;
    max-width: 280px;
}

.array .img {
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 15px;
}

.array img {
    object-fit: contain;
}

.array h3 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 8px;
}

.array p {
    font-size: 16px;
    line-height: 1.5;
    color: var(--mid-gray);
}

@media (max-width: 750px) {
    .array {
        flex-direction: column;
    }

    .arrayItem {
        max-width: none;
        width: 100%;
        margin-bottom: 50px;
    }
}

.accord {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.accord .img {
    width: 50%;
    padding: 0
}

.accord img {
    object-fit: contain;
}

.accord .text {
    width: 45%
}

.textItem {
    margin-bottom: 50px;
    border-left: 4px var(--blue-500) solid;
    padding-left: 18px;
}

.textItem h4 {
    /* padding-left: 10px; */
    /* border-left: 4px var(--neutral-200) solid; */
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
    line-height: 1.5;
}

.textItem p {
    font-size: 16px;
    line-height: 1.5;
    color: var(--neutral-600);
    /* padding-left: 14px; */
}


@media (max-width: 850px) {
    .accord {
        flex-direction: column !important;
    }

    .accord .img {
        padding: 0%;
        width: 100%;
        margin-bottom: 40px;
    }

    .accord .text {
        width: 100%;
    }

    .textItem {
        margin-bottom: 40px;
    }
}