---
---

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entrelacs</title>
    {% include head.html %}
    <link rel="stylesheet" href="index.css">
</head>

<body>
    {% include navBar.html %}
    <main class="page">
        <div id="hero" class="pageItem">
            <h1>The <span>blood lab for mental health</span> — precision, personalization and prevention in one
                platform.</h1>
            <p class="subheader">Entrelacs transforms mental health assessment by combining conversational AI with
                dynamic psychometrics,
                creating assessments that adapt to each individual and becomes more accurate over time</p>
            <div class="ctas">
                <button class="cta" style="color: var(--teal); background: var(--teal-light);">
                    <p style="margin-right: 10px;">Learn More</p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <path d="M7 17L17 7M17 7H7M17 7V17" stroke="#1CAFBF" stroke-width="2.5" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>
                </button>
                <button class="cta">Request a Demo</button>
            </div>
            <div id="heroVideo">

            </div>
            <div id="heroLogos">
                <div class="herologo"></div>
                <div class="herologo"></div>
                <div class="herologo"></div>
                <div class="herologo"></div>
                <div class="herologo"></div>
                <div class="herologo"></div>
            </div>
        </div>
        <div class="pageItem lsection">
            <div class="tag red">The Problem</div>
            <h2>One-size-fits-all mental health assessments miss early signs, causing late support, ineffective
                interventions and costly outcomes.</h2>
        </div>
        <div class="pageItem lsection">
            <div class="tag green">Our Solution</div>
            <h2>Mental health care with precision, personalization and prevention</h2>
            <p class="lsectionP"> Entrelacs uses conversational AI and adaptive psychometrics to deliver evolving,
                individualized mental
                health assessments for precise, continuous insights across wellbeing</p>
            <div class="array" style="margin-top: 40px">
                <div class="arrayItem">
                    <div class="img">
                        <img src="/images/precision.webp" alt="">
                    </div>
                    <h3>Pricision</h3>
                    <p>
                        Comprehensive assessment of social connection dynamics and workplace through multi-modal data.
                        AI-powered analysis of text, voice, and digital footprint.
                    </p>
                </div>
                <div class="arrayItem">
                    <div class="img">
                        <img src="/images/personalisation.webp" alt="">
                    </div>
                    <h3>Personalisation</h3>
                    <p>
                        Tailored connection and well-being profiles for individuals and teams. Insights highlight how
                        people
                        connect and collaborate, helping strengthen relationships and teamwork.
                    </p>
                </div>
                <div class="arrayItem">
                    <div class="img">
                        <img src="/images/prevention.webp" alt="">
                    </div>
                    <h3>Prevention</h3>
                    <p>
                        Proactive support through ongoing monitoring of social and emotional well-being. Early
                        indicators of
                        isolation, stress, or disengagement trigger timely interventions.
                    </p>
                </div>
            </div>
            <div class="ctas" style="margin-top: 56px;">
                <button class="cta"
                    style="background: transparent; color: var(--text-base); border: 1px var(--text-base) solid;">Request
                    a demo</button>
            </div>
        </div>

        <div class="pageItem lsection lcentered">
            <h2 style="text-align: center;">From Conversation to Personalized Care in Three Steps</h2>
            <div class="accord" style="padding-bottom: 80px;">
                <div class="img">
                    <img src="/images/your_profile.webp" alt="">
                </div>
                <div class="text">
                    <div class="textItem">
                        <h4>Chat & Discover</h4>
                        <p>
                            Our AI talks with you like a conversation, analyzing language, tone, and patterns to provide
                            insights on how you connect with others.
                        </p>
                    </div>
                    <div class="textItem">
                        <h4>AI Maps Your Connections</h4>
                        <p>
                            Answer personalized assessment questions to help you better understand your social
                            interactions and workplace relationships.
                        </p>
                    </div>
                    <div class="textItem">
                        <h4>Get Personalized Report</h4>
                        <p>
                            Personalized insights reveal your social and workplace connection patterns and guide you
                            toward healthier, stronger relationships.
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </main>

    {% include footer.html %}


</body>

</html>