#hero {
    padding-top: 230px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background: url('/images/entrelacsbg.jpg') no-repeat center;
    background-size: cover;
}

h1 {
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -1px;
    text-align: center;
}

h1 span {
    color: var(--teal);
}

#hero .subheader {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.33;
    text-align: center;
    color: var(--text-lighter);
    width: 90%;
}

.ctas {
    display: flex;
    justify-content: center;
    gap: 20px;
}

main .cta {
    width: 280px;
}

#heroVideo {
    margin-top: 30px;
    width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 10px;
    background: url('/images/videoplaceholder.webp') no-repeat center;
    background-size: 100% 100%;
}

#heroLogos {
    display: flex;
    width: 100vw;
    gap: 20px;
    margin-top: 50px;
    flex-wrap: wrap;
    justify-content: center;
}

.herologo {
    width: 220px;
    height: 100px;
    background: #ffffff;
    border-radius: 8px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.herologo svg{
    width: 135px;
    height: 70px;
}
@media (max-width: 650px) {
    h1{
        font-size: 30px;
    }
    #hero .subheader{
        font-size: 16px;
        line-height: 1.5;
    }
    .ctas{
        flex-wrap: wrap;
    }
    .herologo{
        width: 150px;
        height: 70px;
    }
    .herologo svg{
        width: 100px;
        height: 50px;
    }
}




.lsection {
    padding-top: 120px;
    padding-bottom: 120px;
}
.lsection.lcentered {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lsection .tag {
    padding: 7px 18px;
    border-radius: 16px;
    font-size: 14px;
    font-weight: 500;
    width: fit-content;
}

.tag.red {
    background: var(--error-50);
    color: var(--error-700);
}

.tag.green {
    background: var(--success-50);
    color: var(--success-700);
}

.lsection h2 {
    font-size: 50px;
    font-weight: 700;
    line-height: 1.3;
    color: var(--tangerine);
    margin-top: 20px;
    max-width: 900px;
}

.lsectionP {
    font-size: 24px;
    line-height: 1.3;
    color: var(--text-lighter);
    margin-top: 20px;
    max-width: 900px;
}
.lsectionP2 {
    font-size: 20px;
    line-height: 1.5;
    color: var(--text-gray);
    margin-top: 10px;
    max-width: 900px;
}

@media (max-width: 650px) {
    .lsection{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .lsection h2{
        font-size: 30px;
        text-align: center;
    }
    .lsectionP, .lsectionP2{
        font-size: 16px;
        text-align: center;
        max-width: 100%;
        line-height: 1.5;
    }
}

.array {
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: space-around;
}

.arrayItem {
    width: 30%;
    max-width: 280px;
}

.array .img {
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 24px;
}

.array img {
    object-fit: contain;
}

.array h3 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 8px;
    color: var(--navy-blue);
}

.array p {
    font-size: 20px;
    line-height: 1.45;
    color: var(--text-gray);
}

@media (max-width: 750px) {
    .array {
        flex-direction: column;
    }

    .arrayItem {
        max-width: none;
        width: 100%;
        margin-bottom: 50px;
        text-align: center;
    }
}

.accord {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.accord .img {
    width: 50%;
    padding: 0
}

.accord img {
    object-fit: contain;
}

.accord .text {
    width: 45%
}

.textItem {
    margin-bottom: 50px;
    border-left: 4px var(--sea-blue) solid;
    padding-left: 18px;
}

.textItem h4 {
    /* padding-left: 10px; */
    /* border-left: 4px var(--neutral-200) solid; */
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
    line-height: 1.5;
}

.textItem p {
    font-size: 16px;
    line-height: 1.5;
    color: var(--neutral-600);
    /* padding-left: 14px; */
}


@media (max-width: 850px) {
    .accord {
        flex-direction: column !important;
    }

    .accord .img {
        padding: 0%;
        width: 100%;
        margin-bottom: 40px;
    }

    .accord .text {
        width: 100%;
    }

    .textItem {
        margin-bottom: 40px;
    }
}

.array2 {
    display: flex;
    flex-direction: row;
    gap: 3.5%;
    flex-wrap: wrap;
}

.array2Item {
    width: 31%;
    margin-bottom: 60px;

}
.array2Item h3, .array3Item h3 {
    color: var(--navy-blue);
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    margin-top: 24px;
}
.array3Item h3 {
    position: relative;
    margin-top: 0px;
    z-index: 10;
}
.array2Item p, .array3Item p {
    font-size: 16px;
    line-height: 1.5;
    color: var(--text-gray);
    margin-top: 8px;
}

.array3{
    display: flex;
    gap: 2%;
}
.array3Item{
    width: 32%;
    border-radius: 20px;
    padding: 20px;
    padding-top: 250px;
    position: relative;
    overflow: hidden;
}
.array3Item svg{
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 9;
}
@media (max-width: 750px) {
    .array2, .array3 {
        flex-direction: column;
    }

    .array2Item, .array3Item {
        max-width: none;
        width: 100%;
        margin-bottom: 50px;
        text-align: center;
    }
}


#secGreen {
    background: linear-gradient(130deg, var(--green-200), var(--green-500));
    color: var(--background);
}
#secGreen h2, #secGreen .lsectionP {
    color: var(--teal-light);
}




#ctaBanner{
    width: 100%;
    padding: 80px 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: url('/images/e64b.png') no-repeat center;
    background-size: cover;
    margin: 120px 0px;
    border-radius: 20px;
}
#ctaBanner h2{
    font-size: 50px;
    font-weight: 700;
    line-height: 1.3;
    color: var(--background);
    margin-bottom: 10px;
}
#ctaBanner p{
    font-size: 20px;
    line-height: 1.45;
    color: #CFDEDE;
    width: 80%;
    margin-bottom: 60px;
}

@media (max-width: 850px) {
    #ctaBanner{
        padding: 48px 20px;
        margin: 80px 0px;
    }
    #ctaBanner h2{
        font-size: 20px;
    }
    #ctaBanner p{
        font-size: 16px;
        width: 100%;
    }
}