<footer class="footer main_container">

  <div class="topSection">

    <div class="companyInfoContainer">
      <div class="logoContainer">
        <img src="/images/logo.png" alt="Entrelacs Logo" width="120" height="120">
      </div>
      <h3 class="companyName">{% t footer.company_name %}</h3>
    </div>

    <div class="linksContainer">
      <a href="{{ site.baseurl }}/">{% t footer.nav.home %}</a>
      <a href="{{ site.baseurl }}/organizations">{% t footer.nav.organizations %}</a>
      <a href="{{ site.baseurl }}/healthcare/">{% t footer.nav.healthcare %}</a>
      <a href="{{ site.baseurl }}/about/">{% t footer.nav.about %}</a>
      <a href="{{ site.baseurl }}/privacy-policy/">{% t footer.legal.privacy %}</a>
      <a href="{{ site.baseurl }}/technology/">{% t footer.nav.technology %}</a>
      <a href="{{ site.baseurl }}/roi_calculator/">{% t footer.nav.roi_calculator %}</a>
      <a href="{{ site.baseurl }}/contact-us/">{% t footer.nav.contact %}</a>
      <a href="{{ site.baseurl }}/terms-of-use/">{% t footer.legal.terms %}</a>
    </div>
  </div>

  <div class="footerSponsers">
    <a href="https://www.ftalps.com" target="_blank" class="footerSponsersImg">
      <img src="/images/la_french_tech_in_the_alps_logo.jpeg" alt="">
    </a>
    <a href="https://www.digital-league.org/" target="_blank" class="footerSponsersImg"
      style="height: 95px;">
      <img src="/images/digitaleague.png" alt="">
    </a>
    <a href="https://www.bpifrance.com/" target="_blank" class="footerSponsersImg">
      <img src="/images/Labelised_deeptech.png" alt="">
    </a>
    <a href="https://levillagebyca.com/language/en/" target="_blank" class="footerSponsersImg"
      style="">
      <img src="/images/levillage.jpg" alt="">
    </a>
  </div>

  <div class="bottomSection">
    <div class="legalLinks">
      <a href="{{ site.baseurl }}/legal-mentions/">{% t footer.legal.mentions %}</a>
      <a href="{{ site.baseurl }}/privacy-policy/">{% t footer.legal.privacy %}</a>
      <a href="{{ site.baseurl }}/terms-of-use/">{% t footer.legal.terms %}</a>
    </div>
    <p>{% t footer.copyright %}</p>
  </div>
</footer>