main{
    padding: 60px 0;
}


.hero {
    width: 100%;
    background: url('/images/entrelacsbg.jpg') no-repeat;
    background-size: 100% 100%;
    position: relative;
    overflow: hidden;
}

.content {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 120px;
}
.content h1{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 30px;
}
.content h2{
    font-size: 24px;
    line-height: 1.4;
    font-weight: 400;
    color: var(--text-lighter);
}
@media (max-width: 650px) {
    .content{
        text-align: left;
    }
    .content h1{
        font-size: 3.8em;
    }
    .content h2{
        font-size: 1.7em;
    }
    .ob1{
        top: -280px;
        left: -200px;
    }
    .ob2{
        bottom: -150px;
        right: -280px;
    }
}


.headerGroup{
    padding: 80px 160px;
    text-align: center;
}
.headerGroup h2{
    font-size: 40px;
    font-weight: 700;
    letter-spacing: .8px;
    color: var(--tangerine);
    margin-bottom: 16px;
}
.headerGroup p{
    font-size: 24px;
    line-height: 1.5;
    color: var(--text-lighter);
}



.group{
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    margin: 0 auto;
}
.groupHeader{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 40px;
    color: var(--tangerine);
    text-align: center;
}
.groupList{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.groupListItem{
    width: 28%;
    text-align: center;
    margin-bottom: 60px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.groupListItem .img{
    width: 100%;
    aspect-ratio: 1/1;
    margin-bottom: 20px;
    background-color: #ddd;
    overflow: hidden;
    border-radius: 50%;
}
.groupListItem h3{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 0px;
}
.groupListItem header{ 
    font-size: 20px;
    color: var(--teal);
    margin-bottom: 7px;
}
.groupListItem p{
    font-size: 20px;
    line-height: 1.45;
    color: var(--text-gray);
}

.tag {
    padding: 7px 18px;
    border-radius: 16px;
    font-size: 14px !important;
    font-weight: 500;
    width: fit-content;
}
.tag {
    background: #FFFAEB;
    color: #B54708 !important;
}

#advisors .groupListItem p{
    margin-top: 10px;
}


@media (max-width: 890px) {
    .group{
        padding: 60px 80px;
    }
    .groupListItem{
        width: 47%;
    }
    #advisors .groupListItem{
        width: 30%;
    }
}
@media (max-width: 650px) {
    .group{
        padding: 60px 24px;
    }
    .groupListItem{
        width: 100%;
    }
    #advisors .groupListItem{
        width: 100%;
    }
    .groupListItem h3{
        font-size: 2em;
    }
    .groupListItem header{
        font-size: 2em;
    }
    .groupListItem p{
        font-size: 1.6em;
    }

}