main {
    padding: 60px 0;
}


.hero {
    width: 100%;
    background: url('/images/entrelacsbg.jpg') no-repeat;
    background-size: 100% 100%;
    position: relative;
    overflow: hidden;
}

.herocontent {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.herocontent h1 {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 30px;
    font-family: var(--libre);
}

.herocontent p {
    font-size: 20px;
    line-height: 1.5;
    font-weight: 400;
    color: var(--text-gray);
    margin-bottom: 20px;
    width: 90%;
}

@media (max-width: 650px) {
    .content h1 {
        font-size: 3.8em;
    }

    .content h2 {
        font-size: 1.7em;
    }

    .ob1 {
        top: -280px;
        left: -200px;
    }

    .ob2 {
        bottom: -150px;
        right: -280px;
    }
}


/* .headerGroup {
} */

.headerGroup h2 {
    font-size: 50px;
    font-weight: 700;
    font-family: var(--libre);
    line-height: 1.3;
    color: var(--teal-900);
    margin-top: 20px;
}

.headerGroup p {
    font-size: 20px;
    line-height: 1.3;
    color: var(--text-gray);
    margin-top: 20px;
    max-width: 800px;
}


.group {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    margin: 0 auto;
}

.groupHeader {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 40px;
    color: var(--tangerine);
    text-align: center;
}

.groupList {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 56px;
}

.groupListItem {
    width: 32%;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
}

.groupListItem .img {
    width: 100%;
    aspect-ratio: 1/1;
    margin-bottom: 24px;
    background-color: #ddd;
    overflow: hidden;
    border-radius: 24px;
}

.groupListItem h3 {
    color: #156B70;
    font-family: "Libre Baskerville";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 116%;
}

.groupListItem header {
    color: #080808;
    font-family: "Libre Baskerville";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 116%;
    margin-top: 9px;
    margin-bottom: 14px;
}

.groupListItem p {
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: var(--text-gray)
}

.tag {
    padding: 7px 18px;
    border-radius: 16px;
    font-size: 14px !important;
    font-weight: 500;
    width: fit-content;
}

.tag {
    background: #FFFAEB;
    color: #B54708 !important;
}


#extendedLeadership .groupListItem {
    width: 23%;
}
#extendedLeadership .groupListItem h3, #advisors .groupListItem h3 {
    font-size: 20px;
}
#extendedLeadership .groupListItem header, #advisors .groupListItem header {
    font-size: 16px;
}

#advisors .groupListItem { 
    width: 47%;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
    align-items: center;
}
#advisors .groupListItem .img {
    width: 120px;
    height: 120px;
    margin-bottom: 0;
    flex-shrink: 0;
}

@media (max-width: 890px) {
    .group {
        padding: 60px 80px;
    }

    .groupListItem {
        width: 47%;
    }

    #extendedLeadership .groupListItem {
        width: 30%;
    }
    #advisors .groupListItem {
        width: 100%;
    }
}

@media (max-width: 650px) {
    .group {
        padding: 60px 24px;
    }

    .groupListItem, #extendedLeadership .groupListItem {
        width: 100%;
    }

    #advisors .groupListItem {
        flex-direction: column;
        align-items: flex-start;
    }

    .groupListItem h3 {
        font-size: 2em;
    }

    .groupListItem header {
        font-size: 2em;
    }

    .groupListItem p {
        font-size: 1.6em;
    }

}