#hero {
    padding-top: 230px;
    padding-bottom: 80px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    background: url('/images/entrelacsbg.jpg') no-repeat center;
    background-size: cover;
}

#hero .left {
    display: flex;
    flex-direction: column;
    width: 50%;
}

#hero .right {
    width: 50%;
    max-width: 450px;
    max-height: 600px;
    border-radius: 20px;
    display: flex;
    justify-content: end;
    align-items: center;
    overflow: hidden;
}

#hero h2 {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 4%;
    color: var(--teal-dark);
    margin-bottom: 10px;
}

h1 {
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -1px;
    margin-bottom: 30px;
}

h1 span {
    color: var(--teal);
}

#hero .subheader {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--text-gray2);
    width: 100%;
    margin-bottom: 30px;
}

.ctas {
    display: flex;
    justify-content: center;
    gap: 20px;
}

main .cta {
    width: 280px;
}

@media (max-width: 1000px) {
    #hero {
        flex-direction: column;
        gap: 60px;
        padding-top: 120px;
    }

    #hero .right,
    #hero .left {
        width: 100%;
        max-width: 100vw;
    }
}

@media (max-width: 650px) {
    h1 {
        font-size: 30px;
    }

    #hero h2 {
        font-size: 16px;
        margin-bottom: 20px;
    }

    #hero .subheader {
        font-size: 16px;
        line-height: 1.5;
    }

    .ctas {
        flex-wrap: wrap;
    }

    .herologo {
        width: 150px;
        height: 70px;
    }

    .herologo svg {
        width: 100px;
        height: 50px;
    }

    main .cta{
        width: 100%;
    }
}

@media (max-width: 350px) {
    .ctas .cta {
        width: 100%;
    }
}



.lsection {
    padding-top: 120px;
    padding-bottom: 120px;
}

.lsection.lcentered {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lsection.lcentered h2,
.lsection.lcentered .lsectionP {
    text-align: center;
}

.lsection .tag {
    padding: 7px 18px;
    border-radius: 16px;
    font-size: 14px;
    font-weight: 500;
    width: fit-content;
}

.tag.red {
    background: var(--error-50);
    color: var(--error-700);
}

.tag.green {
    background: var(--success-50);
    color: var(--success-700);
}

.lsection h2 {
    font-size: 50px;
    font-weight: 700;
    line-height: 1.3;
    color: var(--tangerine);
    margin-top: 20px;
}

.lsectionP {
    font-size: 20px;
    line-height: 1.45;
    color: var(--text-lighter);
    margin-top: 20px;
    max-width: 900px;
}

.lsectionP2 {
    font-size: 24px;
    line-height: 1.5;
    color: var(--text-gray);
    margin-top: 10px;
    max-width: 900px;
}

.ulCheckmark {
    list-style: none;
    padding-left: 0px;
}

.ulCheckmark li {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 20px;
}

.ulCheckmark svg {
    flex-shrink: 0;
}

.ulCheckmark p {
    font-size: 20px;
    line-height: 145%;
    color: var(--text-lighter);
    text-align: left;
}

.ulCheckmark.red p span {
    color: var(--error-500);
}

.ulCheckmark.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.ulCheckmark.flex li {
    width: 48%;
}

@media (max-width: 1150px) {
    .ulCheckmark.flex li {
        width: 100%;
    }
}

@media (max-width: 650px) {
    .lsection {
        display: flex;
        flex-direction: column;
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .lsection h2 {
        font-size: 30px;
        text-align: center;
    }

    .lsectionP,
    .lsectionP2 {
        font-size: 16px;
        text-align: center;
        max-width: 100%;
        line-height: 1.5;
    }

    .ulCheckmark p {
        font-size: 16px;
    }

    .lsection.lcentered {
        align-items: start;
    }

    .lsection.lcentered h2,
    .lsection.lcentered .lsectionP {
        text-align: left;
    }
}

.array {
    display: flex;
    flex-direction: row;
    gap: 6%;
    justify-content: center;
    flex-wrap: wrap;
}

.arrayItem {
    width: 47%;
    margin-bottom: 60px;
    padding: 24px;
    border-radius: 20px;
    border: 1px #74A4A2 solid;
}

.arrayItem.wide {
    width: 100%;
}

.array h3 {
    font-size: 24px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 10px;
}

.arrayItem h3:last-of-type {
    margin-top: 20px;
    margin-bottom: 12px;
}

.array p {
    font-size: 20px;
    line-height: 1.45;
    color: var(--text-gray3);
}

@media (max-width: 750px) {
    .array {
        flex-direction: column;
    }

    .arrayItem {
        max-width: none;
        width: 100%;
        margin-bottom: 50px;
    }
}


.textPicItem {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
}

.textPicItem.reverse {
    flex-direction: row-reverse;
}

.textPicItem.reverse .text {
    width: 45%;
}

.textPicItem .text {
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.textPicItem .textTag {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: .8px;
    color: var(--yellow-600);
}

.textPicItem .text h3 {
    font-size: 40px;
    font-weight: 700;
    color: var(--tangerine);
    margin: 16px 0;
}

.textPicItem .textP {
    font-size: 22px;
    line-height: 150%;
    color: var(--text-lighter);
}

.textPicItem .pic {
    width: 400px;
    border-radius: 10px;
    overflow: hidden;
}

@media (max-width: 950px) {

    .textPicItem,
    .textPicItem.reverse {
        flex-direction: column;
        gap: 50px;
        margin-top: 60px;
    }

    .textPicItem .text,
    .textPicItem .pic,
    .textPicItem.reverse .text {
        width: 100%;
    }
}
@media (max-width: 700px) {
    .textPicItem,
    .textPicItem.reverse {
        gap: 80px;
        margin-top: 120px;
    }
    .textPicItem .text h3{
        font-size: 24px;
    }

}



#secGreen {
    background: linear-gradient(130deg, var(--green-200), var(--green-500));
    color: var(--background);
}

#secGreen .array2Item {
    padding: 24px;
    border-radius: 20px;
    border: 1px var(--teal-dark) solid;
}

#secGreen h2,
#secGreen .array2 h3 {
    color: #CBF8FF;
}

#secGreen .array2 p {
    color: #F8F8F8;
}




#tabs{
    width: 100%;
    display: flex;
    gap: 50px;
}
.tabsNav{
    width: 400px;
}