.content{
    width: 100%;
    display: flex;
    gap: 64px;
    padding-top: 160px;
    padding-bottom: 160px;
}
.left{
    width: 50%;

}
.right{
    width: 50%;
}
.img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
}


h1{
    font-size: 36px;
    font-weight: 700;
    letter-spacing: -0.72px;
    margin-bottom: 20px;
}
h2{
    font-size: 20px;
    color: var(--text-gray);
    font-weight: 400;
}


form{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
}
.item{
    width: 100%;
    margin-bottom: 32px;
}
.item.half{
    width: 47%;
}

.item label{
    font-size: 16px;
    line-height: 1.5;
    color: #344054;
}
.item input{
    width: 100%;
    height: 50px;
    padding: 0 10px;
    border: 1px solid #D0D5DD;
    background: #ffffff;
    box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    margin-top: 3px;
}
.item textarea{
    width: 100%;
    height: 250px;
    padding: 10px;
    border: 1px solid #D0D5DD;
    background: #ffffff;
    box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    margin-top: 3px;
}

form .cta{
    width: 100%;
    font-weight: 500;
}

.checkbox{
    display: flex;
    gap: 10px;
    font-size: 16px;
    color: #667085;
    margin-bottom: 30px;
}


@media (max-width: 1150px) {
    .right{
        display: none;
    }
    .left{
        width: 100%;
    }
}

@media (max-width: 800px) {
    .item.half{
        width: 100%;
    }
}