---
---

<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en' }}">

<head>
    {% capture meta_title %}{% t roi_calculator.meta.title %}{% endcapture %}
    {% capture meta_description %}{% t roi_calculator.meta.description %}{% endcapture %}
    {% include head.html meta_title=meta_title meta_description=meta_description %}
    <style>
        .page{
            padding-top: 80px;
        }
        iframe {
            width: 100%;
            height: 100vh;
            border: none;
        }
        body{
            overflow-y: hidden;
        }
    </style>
</head>

<body>
        {% include navBar.html %}
    <main class="page">
        <iframe src="{% t roi_calculator.link %}" frameborder="0"></iframe>
    </main>
</body>

</html>