---
---

<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en' }}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ROI Calculator</title>
    {% include head.html %}
    <style>
        .page{
            padding-top: 80px;
        }
        iframe {
            width: 100%;
            height: 100vh;
            border: none;
        }
        body{
            overflow-y: hidden;
        }
    </style>
</head>

<body>
        {% include navBar.html %}
    <main class="page">
        <iframe src="https://absl.shinyapps.io/entrelacs_workplace_simulator/" frameborder="0"></iframe>
    </main>
</body>

</html>