/* components/Footer.module.css */

.footer {
    position: relative;
    width: 100%;
    min-height: 300px;
    background-color: var(--teal-900);
    /* A very dark, rich black */
    color: #e0e0e0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 80px;
    padding-bottom: 40px;
    /* Generous top padding */
}

.topSection {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 100px;
}

.companyInfoContainer {
    display: flex;
    align-items: center;
    gap: .5rem;
    /* Spacing between logo and name */
}
.companyInfoContainer img{
    width: 60px;
    height: 60px;   
}

.companyName {
    margin: 0;
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
}
.logoContainer{
    border-radius: 40%;
    /* min-width: 128px;
    min-height: 128px;    */
}
.linksContainer {
    width: 55%;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
.linksContainer a{
    font-size: 16px;
    font-weight: 700;
    width: 120px;
}



.footerSponsers{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 40px 0;
    gap: 60px;
    z-index: 1;
}
.footerSponsers img{
    max-height: 100px;
}
/* Bottom section with a clean line divider */
.bottomSection {
    /* border-top: 1px solid var(--sky-blue); */
    padding-top: 1.5rem;
    margin-top: 2rem;
    /* Spacing from the top section */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
}

.copyright {
    margin: 0;
    font-size: 0.8rem;
    opacity: 0.6;
}

.legalLinks {
    display: flex;
    gap: .5rem;
}

.legalLinks a {
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s ease;
    border-right: 1px #fff solid;
    padding-right: .5rem;
}
.legalLinks a:last-child{
    border: none;
}

.footerSocials{
    display: flex;
    gap: 30px;
    margin-bottom: 10px;
}
.footerSocials svg{
    width: 25px;
    height: 25px;
}


@media (max-width: 800px) {
    .topSection{
        flex-direction: column;
        align-items: center;
    }

    .linksContainer{
        margin-top: 80px;
        width: 100%;
    }
    .linkColumn h4{
        font-weight: 600;
        margin-bottom: 5px;
    }
}

@media (max-width: 550px) {
    .linksContainer{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .footerSponsers{
        flex-direction: column;
        align-items: center;
        gap: 80px;
    }
}



#footerEntrelacs{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
    z-index: 0;
}
