@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');



:root {
  --background: #f9f7f6;
  --secondary-bg: #eee;
  --text-base: #080808;
  --text-lighter: #637475;

  --charcoal: #4b4b4b;
  --nav-color: #f9f7f6;
  --orange: #f5bb3e;
  --yellow: #fdd65d;
  --dark-blue: #014656;
  --sea-blue: #00a2ad;
  --sky-blue: #81CED3;
  --teal: #1CAFBF;
  --teal-light: #CDE8EC;
  --teal-background: #def3f680;
  --tangerine: #002627;

  --error-50: #FFE1DA;
  --error-700: #DF2107;
  --success-50: #ECFDF3;
  --success-700: #027A48;
  
  --brown: #946d65;
}


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'DM Sans', sans-serif;
}

body {
  color: var(--text-base);
  background: var(--background);
  font-family: "Open Sans" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 10px;
  max-width: 1500px;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.cta{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  font-weight: 700;
  padding: 15px 30px;
  background-color: var(--teal);
  color: var(--background);
}
/* .cta svg{
  width: 10px;
  height: 10px;
} */


.main_container{
  padding-left: 160px;
  padding-right: 160px;
}

@media (max-width: 1100px) {
  .main_container{
    padding-left: 80px;
    padding-right: 80px;
  }
}
@media (max-width: 650px) {
  .main_container{
    padding-left: 24px;
    padding-right: 24px;
  }
}

.page{
  width: 100vw;
}

.pageItem{
  width: 100%;
  padding-left: 160px !important;
  padding-right: 160px !important;
}

@media (max-width: 900px) {
  .pageItem{
    padding-left: 80px !important;
    padding-right: 80px !important;
  }
}

@media (max-width: 650px) {
  .pageItem{
    padding-left: 24px !important;
    padding-right: 24px !important;
  }
}