/* Navbar.module.css */

.navbar {
  background-color: var(--teal-background); 
  backdrop-filter: blur(100px);
  z-index: 100;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
}

.nav_container {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 80px;
}

.logo {
  font-weight: 600;
  font-size: 24px;
  text-decoration: none;
  display: flex;
  color: var(--dark-blue);
  align-items: center;
}
.logo img{
  width: 45px;
  height: 45px;
  margin-right: 10px;
}
@media (max-width: 750px) {
  .logo img{
    width: 40px;
    height: 40px;
  }
  .nav_container{
    height: 60px;
  }
}

.navLinks {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.navLinks a {
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
  font-size: 16px;
}
.navLinks a:hover {
  color: var(--teal);
}

.navLinks .cta {
  font-weight: 700;
  font-size: 16px;
}
.navLinks .cta:hover{
  color: #fff;
}

/* Hamburger menu icon (hidden by default) */
.hamburger {
  display: none;
  flex-direction: column;
  justify-content: center;
  width: 25px;
  height: 25px;
  cursor: pointer;
  z-index: 20;
}
.hamburger span {
  height: 4px;
  width: 100%;
  background: var(--dark-blue);
  margin: 4px 0;
  border-radius: 2px;
  transition: 0.3s;
}

/* Dropdown menu for mobile */
.mobileMenu {
  display: none;
  position: absolute;
  top: 60px;
  right: 0;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
  border-radius: 0 0 10px 10px;
  min-width: 180px;
  width: 100%;
  padding: 1rem 0;
  z-index: 15;
  background: #eaf6f3; 
  backdrop-filter: blur(100px);
}
.mobileMenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.mobileMenu li {
  text-align: center;
  padding: 5px 1.5rem;
}
.mobileMenu a {
  color: var(--dark-blue);
  font-size: 16px;
  text-decoration: none;
  font-weight: 400;
}
.mobileMenu .cta {
  width: fit-content;
  height: 40px;
  color: #fff;
}


@media (max-width: 1050px) {
  .nav_container {
    padding: 0 24px;
  }
  .navLinks {
    display: none;
  }
  .hamburger {
    display: flex;
  }
  .mobileMenu {
    display: block;
  }
}

.navactive{
  color: var(--teal);
}


.gtranslate_wrapper{
  /* display: none; */
  /* width: 0px;
  height: 0px;
  overflow: hidden; */
}

.languageSwitcher{
  width: 40px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.languageSwitcher svg, .languageSwitcher img{
  height: 30px;
}
.langDropdown{
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  width: 150px;
  background: var(--background);
  font-size: 16px;
}
.langDropdownitem{
  padding: 10px 14px;
  display: flex;
  align-items: center;
  gap: 10px
}
.langDropdownitem:hover{
  background: #ddd;
}

.langDropdownitem img{
  width: 30px;
  height: 30px;
}